@model Megatron.Models.Article

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container">
    <div class="block-heading text-center">
        <h2 class="text-info">@Html.DisplayFor(m => m.Title)</h2>
        <p>@Html.DisplayFor(m => m.Author)</p>
    </div>
    @if (Model.Status)
    {
        <div class="btn-group mb-3">
            <div class="input-group-prepend mr-2">
                <span class="input-group-text" id="basic-addon1">Status:</span>
            </div>
            <button class="btn btn-success" type="button" disabled>
                <span role="status" aria-hidden="true"></span>
                Active
            </button>
            <button class="btn btn-success" type="button" disabled>
                <span role="status" aria-hidden="true"></span>
                Approved
            </button>
        </div>
    }
    else
    {
        <div class="btn-group mb-3">
            <div class="input-group-prepend mr-2">
                <span class="input-group-text" id="basic-addon1">Status:</span>
            </div>
            <button class="btn btn-success" type="button" disabled>
                <span role="status" aria-hidden="true"></span>
                Active
            </button>
            <button class="btn btn-warning" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Waiting for approve
            </button>
        </div>
    }
    <div id="editor">
        @Html.Raw(@Model.Content)
    </div>

</div>

@section Scripts{
    <script src="~/lib/ckeditor5/build/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#editor'))
             .then(editor => { 
                  console.log( editor ); 
                  editor.isReadOnly = true;
             } ) .catch( error => { 
                  console.error( error ); 
             } );
    </script>
}
