@model IEnumerable<Megatron.Models.Faculty>

@{
    ViewBag.Title = "Articles";
    Layout = "_Layout";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="https://images.goodsmile.info/cgm/images/product/20160301/5520/37871/large/045304fbd2c70eb4b749b7d9e393b4b1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(m => item.FacultyName)</h5>
                <p class="card-text">@Html.DisplayFor(m => item.Description)</p>
                <a class="btn btn-success text-white" asp-action="ListArticles" asp-route-id="@item.Id">
                    View Article
                </a>
                <a asp-r></a>
            </div>
        </div>
    }
</div>

