@model IEnumerable<Megatron.Models.Semester>
@using Microsoft.AspNetCore.Routing

@{
    ViewBag.Title = "title";
    Layout = "_Authenticated_Layout";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Approved Articles</h3>
    </div>
    <div class="col-12 mt-3">
        <form id="fromDownload" asp-action="DownloadArticle" asp-route-id="@Context.GetRouteData().Values["id"]" method="post">
            @if (Model != null)
            {
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button id="downloadButton" class="btn btn-primary" type="submit" name="button">Download articles</button>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">Semester: </div>
                        </div>
                        <select id="semesterId" asp-items="@Model.Select(f => new SelectListItem {Text = f.SemesterName.ToString(), Value = f.Id.ToString()})" class="form-control">
                        </select>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning alert-dismissible">
                    <strong>Warning!</strong> There are no semester finished yet!
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            }
        </form>
    </div>
</div>
<input id="facultyId" type="hidden" value="@Context.GetRouteData().Values["id"]">
<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive-xl table mt-2">
            <table class="table my-0 table-hover" id="ArticleApprovedTable">
                <thead class="thead-light">
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const facultyId = document.getElementById("facultyId").value;
            $('#ArticleApprovedTable').DataTable({
                processing: true,
                fixedHeader: true,
                ajax: {
                    url: '/Article/GetArticlesApproved/'+ facultyId,
                    dataSrc: ''
                },
                rowId: "id",
                columns: [
                    { data: "title", title: "Title" },
                    { data: "faculty.facultyName", title: "Faculty" },
                    { data: "author", title: "Author" },
                    { data: 'createAt', title: "Create At", render: function (data) {
                        return moment(data).format("HH:mm - DD/MM/YYYY");
                    }},
                    { data: "updateAt", title: "Update At", render: function (data){
                        return moment(data).format("HH:mm - DD/MM/YYYY");
                    }},
                    { data: "changeStatusBy", title: "Approved By" }
                    ],
                order: [1, 'asc']
                });
        $('#ArticleApprovedTable tbody').on('click', 'tr', function () {
            const articleId = $(this).closest('tr').attr('id');
            window.location.href = '/Article/Details/' + articleId;});
        });
    </script>
    <script>
        var currentAction = $('#fromDownload').attr('action');
        $(document).ready(function () {
            var newAction = currentAction + '?semesterId=' + $('#semesterId option').filter(':selected').val();
            $('form').attr('action', newAction)
            $('#semesterId').on("change", (function () {
                var newAction = currentAction + '?semesterId=' + $('#semesterId option').filter(':selected').val();
                $('form').attr('action', newAction);
            }))
        })
    </script>
}