@using Microsoft.AspNetCore.Routing
@model IEnumerable<Megatron.Models.Article>

@{
    ViewBag.Title = "Article";
    Layout = "_Authenticated_Layout";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Blog Overview</h3>
    </div>
</div>
<input id="facultyId" type="hidden" value="@Context.GetRouteData().Values["id"]">
<table class="table table-striped table-bordered dt-responsive nowrap table-hover" id="ArticleTable">
    <thead class="thead-light"></thead>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            const facultyId = document.getElementById("facultyId").value;
            const articleTable = $('#ArticleTable').DataTable({
                processing: true,
                fixedHeader: true,
                ajax: {
                    url: '/Article/GetListArticles/' + facultyId,
                    dataSrc: ''
                },
                rowId: "id",
                columns: [
                    { data: "title", title: "Title" },
                    { data: "createAt", title: "Create At", render: function (data){
                        return moment(data).format("HH:mm - DD/MM/YYYY");
                    }},
                    { data: "updateAt", title: "Update At", render: function (data){
                        return moment(data).format("HH:mm - DD/MM/YYYY");
                    }},
                ],
                order: [1, 'asc']
            });
        
            $('#ArticleTable tbody').on( 'click', 'tr', function () {
                const articleId = $(this).closest('tr').attr('id');
                window.location.href = '/Article/Details/' + articleId;
            } );
        });
    </script>
}