@{
    ViewBag.Title = "List Articles Without Any Comment In 14 Days";
    Layout = "_Authenticated_Layout";
}
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">List Articles Without Any Comment after 14 Days</h3>
    </div>

</div>
<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive-xl table mt-2">
            <table class="table my-0 table-hover" id="ArticleTable">
                <thead class="thead-light">
                </thead>
            </table>
        </div>
    </div>
    <div class="col-12 mb-4">
        <a asp-controller="Guest" asp-action="Index" class="btn btn-primary">
            Back to Report
        </a>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ArticleTable').DataTable({
                processing: true,
                fixedHeader: true,
                ajax: {
                    url: '/Guest/GetArticlesWithoutCommentAfter14Days/',
                    dataSrc: ''
                },
                columns: [
                    { data: "title", title: "Title" },
                    { data: "statusMessage", title: "statusMessage", visible: false },
                    { data: "faculty.facultyName", title: "Faculty" },
                    { data: "author", title: "Author" },
                    {
                        data: 'status', title: 'Status', render: function (data, type, row) {
                            if (data === false && row.statusMessage !== null) {
                                return '<img src="/images/RejectedIcon.png" height="35px" alt="Rejected"/>';
                            } else if (data === false && row.statusMessage === null ) {
                                return '<img src="/images/PendingIcon.png" height="35" alt="Waiting for approval"></span>';
                            }
                            else {
                                return '<img src="/images/ApprovedIcon.png" height="35px" alt="Approved"/>';
                            }
                        }
                    },                                   
                    { data: "createAt", title: "Create At", render: function (data){
                        return moment(data).format("HH:mm - DD/MM/YYYY");
                    }},
                    { data: "updateAt", title: "Update At", render: function (data){
                        return moment(data).format("HH:mm - DD/MM/YYYY");
                    }},
                ],
                order: [1, 'asc']
            });
        });
    </script>
}