@model System.Collections.Generic.IEnumerable<Megatron.Models.UserFaculty>

@{
    ViewBag.Title = "Assign User";
    Layout = "_Authenticated_Layout";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Assign user into Faculty</h3>
    </div>
</div>
<div class="col-12 text-center text-lg-left mb-3 p-0">
    <a asp-action="AssignMc" class="btn btn-info ">&nbsp; Assign Marketing Coordinator</a>
    <a asp-action="AssignGuest" class="btn btn-info  ml-1">&nbsp; Assign Guest</a>
</div>
<table class="table table-striped table-bordered dt-responsive flex-nowrap table-hover w-100 mr-1" id="UserFacultyTable">
    <thead class="thead-light"></thead>
</table>

<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="material-icons mx-auto" style="font-size:80px;color:red">error</i>
            <div class="modal-header">
                <h5 class="modal-title bg-light text-dark badge bg-primary text-wrap" id="delModalTitle" style="font-size:25px;">
                    Are You Sure You Want To Remove This User From Faculty?
                </h5>
            </div>
            <div id="modalBody" class="modal-body badge bg-light text-dark text-wrap" style="font-size:15px;"></div>
            <div class="modal-footer">
                <a id="handleDeleteClick" type="button" class="btn btn-primary mx-auto">Remove User</a>
                <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            const userTable = $('#UserFacultyTable').DataTable({
                processing: true,
                fixedHeader: true,
                ajax: {
                    url: '/Assign/GetUserFaculty',
                    dataSrc: ''
                },
                rowId: "id",
                columns: [
                    { data: "applicationUser.fullName", title: "Full Name", render: function (data, type, row){             
                         return '<p id="userName' + row.id +'">'+ data +'</p>'; 
                    }},
                    { data: "applicationUser.email", title: "Email"},
                    { data: "faculty.facultyName", title: "Faculty", render: function (data, type, row){                                     
                        return '<p id="falName' + row.id +'">'+ data +'</p>';
                    }},
                    { data: "createAt", title: "Assign At",
                        render: function(data){
                        return moment(data).format("HH:mm - MM/DD/YYYY");
                    }},
                    {
                        data: 'id',
                        className: "center",
                        title: 'Actions',
                        render: function () {
                        return '<a id="DeleteHandleClick" class="btn btn-danger mr-1" data-toggle="modal" data-target="#delModal"> Remove </a>';
                        }
                                                            
                    }
                ],
                order: [2, 'asc']
            });
            $('#UserFacultyTable tbody').on( 'click', 'tr','#DeleteHandleClick' , function () {
                const userById = $(this).closest('tr').attr('id');
                document.getElementById('handleDeleteClick').setAttribute("href", "Assign/DeleteUserInFaculty/" + userById);
                var title = $("#userName" + userById).text();
                var fal = $("#falName" + userById).text();
                document.getElementById('modalBody').innerHTML ="User Full Name: "+title+" "+"From"+" "+ "Faculty: " + fal;                            
            });
        });
    </script>
}