@using System.Security.Claims
@using Megatron.Utility
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Megatron</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/shards/styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="~/shards/styles/extras.1.1.0.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"/>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>
<body class="h-100">
@* <div class="color-switcher animated"> *@
@*     <h5>Accent Color</h5> *@
@*     <ul class="accent-colors"> *@
@*         <li class="accent-primary active" data-color="primary"> *@
@*             <i class="material-icons">check</i> *@
@*         </li> *@
@*         <li class="accent-secondary" data-color="secondary"> *@
@*             <i class="material-icons">check</i> *@
@*         </li> *@
@*         <li class="accent-success" data-color="success"> *@
@*             <i class="material-icons">check</i> *@
@*         </li> *@
@*         <li class="accent-info" data-color="info"> *@
@*             <i class="material-icons">check</i> *@
@*         </li> *@
@*         <li class="accent-warning" data-color="warning"> *@
@*             <i class="material-icons">check</i> *@
@*         </li> *@
@*         <li class="accent-danger" data-color="danger"> *@
@*             <i class="material-icons">check</i> *@
@*         </li> *@
@*     </ul> *@
@*     <div class="actions mb-4"> *@
@*         <a class="mb-2 btn btn-sm btn-primary w-100 d-table mx-auto extra-action" href="https://designrevision.com/downloads/shards-dashboard-lite/"> *@
@*             <i class="material-icons">cloud</i> Download *@
@*         </a> *@
@*         <a class="mb-2 btn btn-sm btn-white w-100 d-table mx-auto extra-action" href="https://designrevision.com/docs/shards-dashboard-lite"> *@
@*             <i class="material-icons">book</i> Documentation *@
@*         </a> *@
@*     </div> *@
@*     <div class="social-wrapper"> *@
@*         <div class="social-actions"> *@
@*             <h5 class="my-2">Help us Grow</h5> *@
@*             <div class="inner-wrapper"> *@
@*                 <a class="github-button" href="https://github.com/DesignRevision/shards-dashboard" data-icon="octicon-star" data-show-count="true" aria-label="Star DesignRevision/shards-dashboard on GitHub">Star</a> *@
@*             </div> *@
@*         </div> *@
@*         <div id="social-share" data-url="https://designrevision.com/downloads/shards-dashboard-lite/" data-text="🔥 Check out Shards Dashboard Lite, a free and beautiful Bootstrap 4 admin dashboard template!" data-title="share"></div> *@
@*         <div class="loading-overlay"> *@
@*             <div class="spinner"></div> *@
@*         </div> *@
@*     </div> *@
@*     <div class="close"> *@
@*         <i class="material-icons">close</i> *@
@*     </div> *@
@* </div> *@
@* <div class="color-switcher-toggle animated pulse infinite"> *@
@*     <i class="material-icons">settings</i> *@
@* </div> *@
<div class="container-fluid">
<div class="row">
<!-- Main Sidebar -->
<aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
    <div class="main-navbar">
        <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
            <a class="navbar-brand w-100 mr-0" asp-controller="Home" asp-action="Index" style="line-height: 25px;">
                <div class="d-table m-auto">
                    <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src="~/shards/images/shards-dashboards-logo.svg" alt="Megatron">
                    <span class="d-none d-md-inline ml-1">Megatron</span>
                </div>
            </a>
            <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
            </a>
        </nav>
    </div>
    <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
        <div class="input-group input-group-seamless ml-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
        </div>
    </form>
    <div class="nav-wrapper">
        <ul class="nav flex-column">
            @if (User.IsInRole(SystemRoles.MarketingCoordinator) || User.IsInRole(SystemRoles.MarketingManager) || User.IsInRole(SystemRoles.Administrator))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Article" asp-action="Index">
                        <i class="material-icons">edit</i>
                        <span>Article management</span>
                    </a>
                </li>
            }
            @if (User.IsInRole(SystemRoles.Student) || User.IsInRole(SystemRoles.Administrator))
            {
                <li class="nav-item">

                    <a class="nav-link" asp-controller="Student" asp-action="Index">
                        <i class="material-icons">vertical_split</i>
                        <span>My articles</span>
                    </a>
                </li>
                <li class="nav-item">

                    <a class="nav-link " asp-controller="Student" asp-action="SubmitArticle">
                        <i class="material-icons">note_add</i>
                        <span>Create new article</span>
                    </a>
                </li>
            }
            @if (User.IsInRole(SystemRoles.Administrator))
            {
                <li class="nav-item">
                    <a class="nav-link " asp-controller="Faculty" asp-action="Index">
                        <i class="material-icons">view_module</i>
                        <span>Faculty management</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-controller="Semester" asp-action="Index">
                        <i class="material-icons">table_chart</i>
                        <span>Semester management</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-controller="User" asp-action="Index">
                        <i class="material-icons">person</i>
                        <span>User management</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-controller="Assign" asp-action="Index">
                        <i class="material-icons">error</i>
                        <span>Assign user to faculty</span>
                    </a>
                </li>
            }
            @if (User.IsInRole(SystemRoles.Guest))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Guest" asp-action="Index">
                        <i class="material-icons">edit</i>
                        <span>Report details</span>
                    </a>
                </li>
            }
        </ul>
    </div>
</aside>
<!-- End Main Sidebar -->
<main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
    <div class="main-navbar sticky-top bg-white">
        <!-- Main Navbar -->
        <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
            <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input class="navbar-search form-control" type="text" placeholder="Search for something..." aria-label="Search">
                </div>
            </form>
            <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item border-right dropdown notifications">
                    <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="nav-link-icon__wrapper">
                            <i class="material-icons">&#xE7F4;</i>
                            <span class="badge badge-pill badge-danger">2</span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">
                            <div class="notification__icon-wrapper">
                                <div class="notification__icon">
                                    <i class="material-icons">&#xE6E1;</i>
                                </div>
                            </div>
                            <div class="notification__content">
                                <span class="notification__category">Analytics</span>
                                <p>
                                    Your website’s active users count increased by
                                    <span class="text-success text-semibold">28%</span> in the last week. Great job!
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="notification__icon-wrapper">
                                <div class="notification__icon">
                                    <i class="material-icons">&#xE8D1;</i>
                                </div>
                            </div>
                            <div class="notification__content">
                                <span class="notification__category">Sales</span>
                                <p>
                                    Last week your store’s sales count decreased by
                                    <span class="text-danger text-semibold">5.52%</span>. It could have been worse!
                                </p>
                            </div>
                        </a>
                        <a class="dropdown-item notification__all text-center" href="#"> View all Notifications </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img id="userAvatar" width="40px" height="40px" class="user-avatar rounded-circle mr-2" src="uploads/DefaultAvatar.jpeg" alt="User Avatar">
                        <span class="d-none d-md-inline-block">@User.FindFirstValue(ClaimTypes.Name)</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-small">
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                            <i class="material-icons">&#xE7FD;</i> Profile
                        </a>
                        @if (User.IsInRole(SystemRoles.Student) || User.IsInRole(SystemRoles.Administrator))
                        {
                            <a class="dropdown-item" asp-controller="Student" asp-action="Index">
                                <i class="material-icons">vertical_split</i> My Articles
                            </a>
                            <a class="dropdown-item" asp-controller="Student" asp-action="SubmitArticle">
                                <i class="material-icons">note_add</i> Create new Article
                            </a>
                        }
                        <div class="dropdown-divider"></div>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                            <button class="dropdown-item text-danger" type="submit"> <i class="material-icons text-danger">&#xE879;</i> Logout</button>
                        </form>
                    </div>
                </li>
            </ul>
            <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                    <i class="material-icons">&#xE5D2;</i>
                </a>
            </nav>
        </nav>
    </div>
    <!-- / .main-navbar -->
    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        @RenderBody()
    </div>
    <footer class="main-footer d-flex p-2 px-3 bg-white border-top mt-5">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
        </ul>
        <span class="copyright ml-auto my-auto mr-2">
            Megatron © 2021
            <a href="" rel="nofollow">Teddy-Team</a>
        </span>
    </footer>
</main>
</div>
</div>
@* <div class="promo-popup animated"> *@
@*     <a href="http://bit.ly/shards-dashboard-pro" class="pp-cta extra-action"> *@
@*     </a> *@
@*     <div class="pp-intro-bar"> *@
@*         Contact Us *@
@*         <span class="close"> *@
@*             <i class="material-icons">close</i> *@
@*         </span> *@
@*         <span class="up"> *@
@*             <i class="material-icons">keyboard_arrow_up</i> *@
@*         </span> *@
@*     </div> *@
@*     <div class="pp-inner-content"> *@
@*         <h2>Megatron Project</h2> *@
@*         <p>Write something hereeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee!</p> *@
@*         <a class="pp-cta extra-action" href="https://www.facebook.com/">Facebook</a> *@
@*     </div> *@
@* </div> *@
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
<script src="~/shards/scripts/extras.1.1.0.min.js"></script>
<script src="~/shards/scripts/shards-dashboards.1.1.0.min.js"></script>
<script src="~/shards/scripts/app/app-blog-overview.1.1.0.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/User/Avatar/',
            type: 'GET',
            data: {userId: '@User.FindFirstValue(ClaimTypes.NameIdentifier)'},
            success: function (data){
              $('#userAvatar').attr('src', '/Uploads/' + data.avatar);
              $('#userAvatarComment').attr('src', '/Uploads/' + data.avatar);
              }
            });  
    })  
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html> 