<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="material-icons mx-auto" style="font-size:80px;color:red">error</i>
            <div id="modalTitle" class="modal-title bg-light text-dark badge bg-primary text-wrap" style="font-size:25px;"></div>
            <div id="modalWarning" class="modal-title badge bg-warning text-dark"></div>
            <div id="modalBody" class="modal-body badge bg-light text-dark text-wrap" style="font-size:15px;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary     mx-auto" data-dismiss="modal">Cancel</button>
                <a id="handleDeleteClick" type="button" class="btn btn-secondary mx-auto">Yes, Remove it!</a>
            </div>
        </div>
    </div>
</div>