<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Megatron</title>
    <link rel="stylesheet" href="Template/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="#">Megatron</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-primary js-scroll-trigger" role="button" asp-area="Identity" asp-page="/Account/Login">Login</a>
                }
                else
                {
                    <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" asp-action="Index" asp-controller="Home">Login</a>
                }
            </ul>
        </div>
    </div>
</nav>
<header class="text-center text-white masthead">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Megatron</h1>
            <h2 class="masthead-subheading mb-0">Articles Management System</h2>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-3">
                    <img class="img-fluid" src="Template/assets/img/01.png">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-3">
                    <h2>On-The-Go Article Submission</h2>
                    <p>
                        Experience a modern-designed CMS application with flexible file submission features!
                        <br/>
                        Submit your Articles as Word files, Images or create entire new one with Text Editor mode!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-3">
                    <img class="rounded-circle img-fluid" src="Template/assets/img/02.png">
                </div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="p-3 text-center">
                    <h2>Built-in Communication Channels</h2>
                    <p>Discussions between Marketing Coordinators and Students made easy with Comments section in each Article Details!</p>
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-3">
                    <img class="rounded-circle img-fluid" src="Template/assets/img/03.png">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-3 text-right">
                    <h2>Visualized reports</h2>
                    <p>Oversee entire process with accurate graphs and charts!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="py-5 bg-black">
    <div class="container">
        <p class="text-center text-white m-0 small">Copyright&nbsp;© Megatron 2021</p>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>