@model Megatron.Models.Faculty

@{
    ViewBag.Title = "Faculty";
    Layout = "_Authenticated_Layout";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Edit Faculty</h3>
    </div>
</div>

<div class="card shadow">
    <div class="card-body">
        <form method="post">
            <div class="backgroundWhite shadowNew">
                <div class="row">
                    <div class="col-8">
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="FacultyName"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="FacultyName" class="form-control"/>
                                <span asp-validation-for="FacultyName" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label asp-for="Description"></label>
                            </div>
                            <div class="col-8">
                                <input asp-for="Description" class="form-control"/>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="form-group row">
                            <div class="col-8 offset-4 row">
                                <div class="col">
                                    <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i>Back To List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{

    @{
    <partial name="_ValidationScriptsPartial"/>
    }

}