@model IEnumerable<Megatron.Models.Faculty>
@{
    ViewBag.Title = "Faculty";
    Layout = "_Authenticated_Layout";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Faculty Overview</h3>
    </div>
    <div class="col-12 mt-3">
        <a asp-controller="Faculty" asp-action="Create" class="btn btn-primary">
            Create New Faculty
        </a>
    </div>
</div>
<table id="facultyTable" class="table table-bordered table-hover" style="width:100%">
    <thead class="thead-light">
    </thead>
</table>

<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <i class="material-icons mx-auto" style="font-size:80px;color:red">error</i>
            <div class="modal-header">
                <h5 class="modal-title bg-light text-dark badge bg-primary text-wrap" id="delModalTitle" style="font-size:25px;">
                    Are You Sure You Want To Remove This Faculty?
                </h5>
            </div>
            <div class="modal-title badge bg-warning text-dark">
                <strong>Warning!</strong> All Articles of Faculty will be removed.
            </div>
            <div id="modalBody" class="modal-body badge bg-light text-dark text-wrap" style="font-size:15px;"></div>
            <div class="modal-footer">
                <a id="handleDeleteClick" type="button" class="btn btn-primary mx-auto">Remove Faculty</a>
                <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var table = $(document).ready(function () {
            $('#facultyTable').DataTable({
                info: false,
                ajax: {
                url: '/Faculty/GetAllFaculty',
                dataSrc: ''
                },
                rowId: "id",
                columns: [
                { data: 'facultyName', title: 'Faculty Name', render: function (data, type, row){
                    return '<p id="FacultyName' + row.id +'">'+data+'</p>'; 
                }},
                { data: 'createAt', title: "Create At", render: function (data) {
                    return moment(data).format("HH:mm - DD/MM/YYYY");
                }},
                    { data: 'updateAt', title: 'Update At', render: function (data){
                        return moment(data).format("HH:mm - DD/MM/YYYY");
                    }},
                    {
                        data: 'id', title: 'Action', render: function (data) {
                            return '<a href="Faculty/Edit/' + data + '"class="btn btn-success mr-1"> Edit </a> ' 
                            + '<a id="DeleteHandleClick" class="btn btn-danger mr-1" data-toggle="modal" data-target="#delModal"> Remove </a>'; 
                        }
                    }
                ],
                order: [1, 'asc']
            });
            $('#facultyTable tbody').on( 'click', 'tr','#DeleteHandleClick' , function () {
                const facultyId = $(this).closest('tr').attr('id');             
                document.getElementById('handleDeleteClick').setAttribute("href", "Faculty/Delete/" + facultyId);
                var title = $("#FacultyName"+facultyId).text();
                document.getElementById('modalBody').innerHTML ="Faculty Name: " + title;                            
            });
        });
    </script>
}