@model IEnumerable<Megatron.Models.Faculty>
@{
    ViewBag.Title = "Faculty";
    Layout = "_Authenticated_Layout";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Faculty Overview</h3>
    </div>
    <div class="col-12 mt-3">
        <a asp-controller="Faculty" asp-action="Create" class="btn btn-primary">
            Create New Faculty
        </a>
    </div>
</div>
<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive-xl table mt-2">
            <table class="table my-0 table-hover" id="facultyTable">
                <thead class="thead-light">
                </thead>
            </table>
        </div>
    </div>
</div>

<div>
    <partial name="_DeleteForm"/>
</div>

@section scripts {
    <script>
        var table = $(document).ready(function () {
            $('#facultyTable').DataTable({
                info: false,
                ajax: {
                url: '/Faculty/GetAllFaculty',
                dataSrc: ''
                },
                rowId: "id",
                columns: [
                { data: 'facultyName', title: 'Faculty Name', render: function (data, type, row){
                    return '<p id="FacultyName' + row.id +'">'+data+'</p>'; 
                }},
                { data: 'createAt', title: "Create At", render: function (data) {
                    return moment(data).format("HH:mm - DD/MM/YYYY");
                }},
                    { data: 'updateAt', title: 'Update At', render: function (data){
                        return moment(data).format("HH:mm - DD/MM/YYYY");
                    }},
                    {
                        data: 'id', title: 'Action', render: function (data) {
                            return '<a href="Faculty/Edit/' + data + '"class="btn btn-success mr-1"> Edit </a> ' 
                            + '<a id="DeleteHandleClick" class="btn btn-danger mr-1 text-white" data-toggle="modal" data-target="#delModal"> Remove </a>'; 
                        }
                    }
                ],
                order: [1, 'asc']
            });
            $('#facultyTable tbody').on( 'click', 'tr','#DeleteHandleClick' , function () {
                const facultyId = $(this).closest('tr').attr('id');             
                document.getElementById('handleDeleteClick').setAttribute("href", "Faculty/Delete/" + facultyId);
                document.getElementById('modalTitle').innerText ="Are You Sure You Want To Remove This Faculty?";
                document.getElementById('modalWarning').innerText="Warning! All Articles of Faculty will be removed."
                var title = $("#FacultyName"+facultyId).text();
                document.getElementById('modalBody').innerHTML ="Faculty Name: " + title;                            
            });
        });
    </script>
}