@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h3 class="text-dark mb-4">User management</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">
                User Info
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info float-right"><i class="fas fa-plus"></i>&nbsp; New User Account</a>
            </p>
        </div>
        <div class="card-body">
            
        </div>
    </div>
