@model IEnumerable<Megatron.Models.Semester>
@{
    ViewData["Title"] = "Manage Semester";
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#semestertable').DataTable({
                ajax: {
                    url: '/Semester/GetSemesters',
                    dataSrc: ''
                },
                columns: [
                    { data: 'semesterName' },
                    { data: 'semesterStartDate' },
                    { data: 'semesterEndDate' },
                    { data: 'updateAt' },
                    {
                        data: 'id',
                        className: "center",
                        render: function (data) {
                            return '<a href="Semester/Edit/' + data + '"> Edit </a>' + '/' + '<a href="Semester/Delete/' + data + '"> Delete </a>';
                        }

                    }
                ],
                order: [1, 'asc']
            });

        });
    </script>
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Semester</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Semester" asp-action="Create" class="btn btn-primary">
                Create New Semester
            </a>
        </div>
    </div>
    <br /><br />
    <table id="semestertable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>
                    Semester Name
                </th>
                <th>
                    Semester Start
                </th>
                <th>
                    Semester End
                </th>
                <th>
                    Update At
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>
                    Semester Name
                </th>
                <th>
                    Semester Start
                </th>
                <th>
                    Semester End
                </th>
                <th>
                    Update At
                </th>
                <th>Actions</th>
            </tr>
        </tfoot>
    </table>
</div>