@model IEnumerable<Megatron.Models.Semester>
@{
    ViewData["Title"] = "Manage Semester";
}

@section scripts{
    <script>
        $(document).ready(function () {
            $('#semestertable').DataTable({
                info: false,
                ajax: {
                    url: '/Semester/GetSemesters',
                    dataSrc: ''
                },
                columns: [
                    { data: 'semesterName', title: 'Semester Name' },
                    { data: 'semesterStartDate', title: 'Semester Start' },
                    { data: 'semesterEndDate', title: 'Semester End' },
                    { data: 'updateAt', title: 'Update At' },
                    {
                        data: 'id',
                        className: "center",
                        title: 'Actions',
                        render: function (data) {
                            return '<a href="Semester/Edit/' + data + '" class="btn btn-success mr-1"> Edit </a>' + '<a href="Semester/Delete/' + data + '" class="btn btn-danger"> Delete </a>';
                        }

                    }
                ],
                order: [1, 'asc']
            });

        });
    </script>
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Semester</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Semester" asp-action="Create" class="btn btn-primary">
                Create New Semester
            </a>
        </div>
    </div>
    <br /><br />
    <table id="semestertable" class="table table-bordered table-hover" style="width:100%">
        <thead class="thead-light">
        </thead>
    </table>
</div>